.chrome-tab-blinder {
    z-index: 999999;
    overflow: hidden;

    position: absolute;
    left: 0;
    top: 0;

    opacity: 1;
}

.fade-element-out {
    opacity: 0 !important;
    -webkit-transition: opacity 1000ms linear !important;
}